*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #263238;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.container {
  width: 320px;
  padding: 0 14px;
  margin: 0 auto;
  text-align: center;
}

/* ================= IMAGES ====================== */
.icon-light-bulb {
  display: none;
}
.learning-languages {
  width: 299px;
  height: auto;
  object-fit: contain;
}
.shared-goals {
  width: 213px;
}
.typewriter {
  width: 204px;
}
.house-bookshelves {
  width: 236px;
}
.podcast-audience {
  width: 232px;
}
.business-competition {
  width: 283px;
}
.online {
  width: 248px;
  margin: 0 auto;
}
.lesson {
  width: 257px;
  margin: 0 auto;
}
.webinar {
  width: 241px;
  margin: 0 auto;
}
.contact {
  width: 253px;
  margin: 0 auto;
}

/* ============= MENU ================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 34, 47, 0.7);
  visibility: hidden;
}
.menu {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-top: 25px;
  padding-right: 7px;
}
.close-btn {
  display: block;
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.menu-header-block::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  height: 1px;
  background-color: #c4c4c4;
}
.menu-header-block {
  margin-bottom: 48px;
}
.menu-links {
  color: #263238;
  font-size: 22px;
  font-weight: 500;
  line-height: 2.95;
}
.menu-contact-btn {
  width: 291px;
  height: 65px;
  border-radius: 5px;
  border: 2px solid #263238;
  background-color: transparent;

  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 80px;
}
/* ============== LOGO ============== */
.logo {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 0;
}
.logo-lex {
  color: #939393;
}

/* =================== HEADER ==================== */
/* .header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.header-navigation-list,
.header-button {
  display: none;
}
.page-header {
  padding-top: 36px;
  padding-bottom: 29px;
}
.icon-burger-menu {
  fill: #39515e;
  position: absolute;
  right: 30px;
  top: 10px;
}
.header-navigation {
  position: fixed;
  top: 0;
  width: 320px;
  height: 65px;
  background-color: #fff;
}
.header-navigation-container {
  position: relative;
  top: 15px;
}

/* =================== FIRST SECTION ========================== */
.main-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  padding: 16px 37px 20px 37px;
}
.main-text {
  color: #8f95a5;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 33px;
}
.main-button {
  padding: 18px 96px;
  width: 289px;
  height: 60px;
  border-radius: 5px;
  background-color: #263238;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* =============== SKILLS SECTION ================ */
.skills-section {
  padding-top: 53px;
}
.skills-section-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.33;
  margin-bottom: 32px;
}
.skills-card {
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 16px 16px 44px 16px;
  text-align: start;
}
.skills-card:not(:last-child) {
  margin-bottom: 21px;
}
.skills-pic {
  margin: 0 auto;
}
.skills-title {
  padding-top: 10px;
  color: #263238;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 4.44;
}
.skills-text {
  color: #8f95a5;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 28px;
}
.skills-btn {
  width: 178px;
  height: 50px;
  border-radius: 5px;
  background-color: #263238;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* =============== ABOUT SECTION ================ */
.about-section {
  padding-top: 50px;
}
.about-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.33;
  margin-bottom: 24px;
}
.about-text {
  margin-top: 23px;
  margin-bottom: 8px;
  color: #8f95a5;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  width: 295px;
}
.about-number {
  color: #2a3246;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.33;
}
.about-things {
  color: #8f95a5;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
}

/* =============== PRICING SECTION ================ */
.pricing-section {
  padding-top: 80px;
}
.pricing-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.33;
  margin-bottom: 49px;
}
.pricing-name {
  color: #263238;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.55;
  margin-top: 12px;
  margin-bottom: 24px;
}
.pricing-text {
  color: #8f95a5;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}
.pricing-btn {
  margin-top: 32px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

  width: 170px;
  height: 37px;
  border-radius: 5px;
  background-color: #eee;
  border: none;

  color: #263238;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  padding: 5px 15px 5px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing-per-month {
  color: #546269;
  font-size: 14px;
}

/* =============== CONTACT SECTION ================ */
.contact-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.33;
  margin-bottom: 38px;
}
.contact-text {
  color: #8f95a5;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  margin-top: 38px;
  margin-bottom: 32px;
}
.contact-email {
  width: 291px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #8f95a5;

  color: #8f95a5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-left: 28px;
  margin-bottom: 17px;
}
.contact-btn {
  width: 290px;
  height: 60px;
  border-radius: 5px;
  background-color: #263238;

  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 55px;
}

/* ================== FOOTER ===================== */
.page-footer .container {
  padding-top: 26px;
  padding-bottom: 48px;
}
.logo-footer {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.logo-lex-footer {
  color: #939393;
}
.page-footer::before {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  height: 1px;
  background-color: #c4c4c4;
}
.policy {
  color: #8f95a5;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.policy-list {
  display: flex;
  justify-content: space-between;
}
.privacy::before,
.privacy::after {
  content: "\00B7";
  font-size: 11px;
  margin: 0 3px;
}
