*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #263238;
}
img {
  display: block;
}
.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

/* ================= IMAGES ====================== */
.icon-light-bulb {
  display: none;
}
.learning-languages-container {
  width: 299px;
  height: 299px;
  padding-top: 38px;
  padding-bottom: 12px;
}
.learning-languages {
  max-width: 100%;
  object-fit: contain;
}
.shared-goals {
  width: 213px;
  height: 213px;
}
.typewriter {
  width: 204px;
  height: 204px;
}
.house-bookshelves {
  width: 236px;
  height: 157px;
}
.podcast-audience {
  width: 232px;
  height: 154px;
}
.business-competition {
  width: 283px;
  height: 283px;
}
.online {
  width: 248px;
  height: 248px;
}
.lesson {
  width: 257px;
  height: 197px;
}
.webinar {
  width: 241px;
  height: 241px;
}
.contact {
  width: 253px;
  height: 228px;
}

/* ============= MENU ================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 34, 47, 0.7);
  visibility: hidden;
}
.menu {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-top: 25px;
  padding-right: 7px;
}
.icon-burger-menu {
  fill: #39515e;
}
.close-btn {
  display: block;
  width: 34px;
  height: 34px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.menu-header-block::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  height: 1px;
  background-color: #c4c4c4;
}
.menu-header-block {
  margin-bottom: 48px;
}
.menu-links {
  color: #263238;
  font-size: 22px;
  font-weight: 500;
  line-height: 2.95;
}
.menu-contact-btn {
  width: 291px;
  height: 65px;
  border-radius: 5px;
  border: 2px solid #263238;
  background-color: transparent;

  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 80px;

  cursor: pointer;
}
/* ============== LOGO ============== */
.logo {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo-lex {
  color: #939393;
}

/* =================== HEADER ==================== */
.header-navigation {
  display: flex;
  justify-content: space-between;
}
.header-navigation-list,
.header-button {
  display: none;
}
.page-header {
  padding-top: 36px;
  padding-bottom: 29px;
}

/* =================== FIRST SECTION ========================== */
.main-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
}
.main-text {
  color: #8f95a5;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 33px;
}
.main-button {
  padding: 18px 96px;
  width: 289px;
  height: 60px;
  border-radius: 5px;
  background-color: #263238;

  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

/* =============== SKILLS SECTION ================ */
.skills-section {
  padding-top: 53px;
}
.skills-section-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 3.33;
  margin-bottom: 32px;
}
.skills-card {
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 16px 16px 44px 16px;
  text-align: start;
}
.skills-card:not(:last-child) {
  margin-bottom: 21px;
}
.skills-pic {
  margin: 0 auto;
}
.skills-title {
  padding-top: 10px;
  color: #263238;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 4.44;
}
.skills-text {
  color: #8f95a5;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 28px;
}
.skills-btn {
  width: 178px;
  height: 50px;
  border-radius: 5px;
  background-color: #263238;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transform: rotate(-0.255deg);
  cursor: pointer;
}
